body {
    background-color: lavender;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: rgb(208, 206, 206); /* Header background color */
    width: 100%;
    height: 100px;
  }

  header img {
    height: 100%;       /* Make the image fill the header's height */
    width: auto;        /* Maintain the aspect ratio */
    border-radius: 5px; /* Optional: Add rounded corners */
  }
  
  h1 {
    color: rgb(243, 105, 224);
    text-align: center;
  }

  h2 {
    background-color: purple;
    opacity: 30%;
    font-style: Century Gothic;
    text-transform: uppercase;
    color:black
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  img { 
    border: 10;
    border-color: blueviolet;
  }